{% extends 'base.html' %}

{% block content %}
        <div id='home-page' class="container-fluid">
            <div class="row">
                <div class="col-8 texts">
                    <p class='i-am'>👋 <span id='distinct'>Hi! I'm Said</span>alikhon Alikhonov</p>
                    <p id='call-me'>You can <span id='distinct'>call me Data Scientist</span> or <span id='distinct'>AI engineer</span> 😉</p>
                    <div class="row">
                        <div class="col-4 shorts m-2">
                            <p>I love learning, exploring, preprocessing, creating, presenting and delivering</p>
                            <a href='{{url_for("projects")}}'class="btn btn-dark my-btn me-2">Go to my project</a>
                        </div>
                        <div class="col-4 shorts m-2">
                            <p>my favorite animals are 🐼s and 🐍</p>
                            <a href='{{url_for("about")}}'class="btn btn-dark my-btn me-2">Learn about me</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="avatar">
                    </div>
                </div>
            </div>
           
        </div>
{% endblock %}